<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Bienvenido</h2>
    <h3>Carpeta del proyecto:</h3><p> <%=process.cwd()%> </p>
    <h3>Process ID:</h3><p> <%=process.pid%> </p>
    <h3>Version de node.js:</h3><p> <%=process.version%> </p>
    <h3>Sistema operativo:</h3><p> <%=process.platform%> </p>
    <h3>Memoria total reservada:</h3><p> <%=process.memoryUsage()%> </p>
    <h3>Path de ejecucion:</h3><p> <%=process.execPath%> </p>
</body>
</html>